<div class="container ma-4 p-5  align-center d-flex flex-wrap justify-content-around">
    <div class="my-5 pa-5">
        <a href="/products/add-prod" class="btn btn-primary btnvolver">Agregar Producto</a>
    </div>
    <div class="container p-3 ma-3  d-flex align-center  flex-wrap">

        {{#each product}}
        <div class="card mx-2 my-2 d-flex justify-content-between" style="width: 16rem; border: solid black 1px">
            <div class="cajaprod">
                <img class="imgprod" src="{{photo}}">
            </div>
            <div class="card-body d-flex flex-column align-items-baseline">
                <h5 class="card-title">{{title}}</h5> <br>

                <h4 class="card-title">${{price}}</h4>


            </div>
            <form class="mx-4" action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                <a href="/products/edit/{{_id}}" class="btn btn-primary btnprod">Editar</a>
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn bg-danger btn-block text-white btnprod">Borrar</button>
            </form>

        </div>

        {{/each}}
    </div>
</div>