<div class="container p-5">
    <section class="login  my-4 mx-5">
        <div class="container">
            <div class="row no-gutters pa-4 ma-3">

                <div class="col-lg-7 d-flex align-content-center align-items-center flex-wrap">
                    <div class="caja ">
                        <img src="{{products.photo}} ">
                    </div>
                </div>

                <div class="col-lg-5 px-5 my-4">
                    <form clas="" action="#" autofocus>
                        <div class="mb-3">
                            <label for="" class="h3 font-weight-bold">{{products.title}}</label>
                        </div>
                        <div class="mb-3">
                            <span class="h5">${{products.price}}</span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> <b>Descripción:</b> </label>
                            {{products.description}}
                        </div>
                        <div class="mb-3">
                            <span class="h4">Valoracion: <b>5/5</b></span>
                        </div>
                        <span>Manda un correo al dueño, para ponerte en contacto :) </span>
                        <br>
                        <br>
                        <button type="#" class="btn btn-primary btn-block">{{user.email}}</button>
                        
                    </form>
                </div>


            </div>
        </div>
    </section>

    <div class="pa-4 ma-4">
        <a class="btn btn-primary ma-4 pa-4 btnvolver" href="/">volver</a>
    </div>

</div>